<!DOCTYPE html>
<html>
	<head>
		<title>Games</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<header>
			<h2>Mijn hobby's</h2>
			 <p>Het laatste nieuws over mijn hobby's</p>
		</header>
		<main>
			<navigation>
				<nav>
					<ul>
						<a href="mijn hobby's.html"><li>Mijn hobby's</li></a>
						<a href="overwatch.html"><li>overwatch</li></a>
						<a href="Counterstrike.html"><li>Counterstrike</li></a>
						<a href="pubg.html"><li>Playersunkown battlegrounds</li></a>
						<a href="gta.html"><li>Gta 5</li></a> 
					</ul> 
				</nav>
			</navigation>
			<section>
				<article>
					<h2>overwatch</h2>
					<p>Our Overwatch esports programs are growing!<br><br>Overwatch Contenders will see its Season 1 Playoffs broadcasted live from the Blizzard Arena in October. The Overwatch World Cup will be taking center stage at BlizzCon in November. And the Overwatch League continues to ramp up to its official launch later this year.<br>We’re just getting started, though. All that’s missing...is YOU. <a href="overwatch.html">Read more</a></p>
				 </article>
				 <article><br>
					<h2>Counterstrike</h2>
					<p>FaZe Clan have secured the services of legendary Swedish Rifler, Olof 'olofmeister' Kajbjer. <br>
					Last night it was announced that Olof 'olofmeister' Kajbjer had joined FaZe Clan in place of Fabien 'kioShima' Fiey. Following a disappointing showing at the PGL Major Krakow 2017, the American organisation has undergone their second player adjustment in August, the first being the addition of former Natus Vincere AWPer, Ladislav 'GuardiaN' Kovacs. Rumours had circulated amply, with the news finalising FaZe Clan's roster for the time being. <a href="Counterstrike.html">Read More</a></p> 
				</article>
				<article><br>
					<h2>Playersunkown's battlegrounds</h2>
					<p>The man behind the fastest-growing PC game rarely plays it<br>
					The mystery creator of PUBG admits he's not your typical gamer.<a href="pubg.html"> Read more</a></p>
				</article>
				<article><br>
					<h2>Player protests force change on GTA V mod kit</h2>
						<p>Player protests have prompted the publishers of GTA V to halt legal action against a widely used software add-on for the single-player version.<br>Take-Two claimed the Open IV program that let people change, or mod, the game's basic elements aided cheats.<a href="gta.html"> Read more</a><p>
				</article>
				</section>
			<aside>
				<a href="https://twitch.amazon.com/prime"><img id="Reclame" src="add.PNG"></a>
			</aside>
		</main>
		<footer>
			&#9400;MikaG 
		</footer>
	</body>
</html>